p, h1{
    color:black;
    margin-top: 5px;
    margin-bottom: 5px;
}

h1{
    margin-top: 15px;
}

p{
    font-size: 18px; 
}

ion-card-title{
    text-align: center;
    font-weight: bold;
    font-size: 24px; 
    color:black;
}

ion-item{
    color:black;
    font-size: 18px;
}

ion-button{
    text-align: center;
    display: block; 
    margin: 0 auto; 
    padding: 10px 10px; 
    font-size: 18px; 
    color:black;
    font-weight: bold;
}


