p{
    color:black;
    font-size: 18px;
}

ion-card-title{
    text-align: center;
    font-weight: bold;
}

ion-item{
    color:black;
    font-size: 18px;

}

#abstract-class ion-item {
    all: unset; 
    display: block; 
    width: 100%; 
    padding: 0; 
    margin: 0; 
  }
  
  .box {
    padding: 10px;
    border-radius: 5px;
    margin: 5px;
  }