ion-item {
    margin-bottom: 11px; 
}


ion-card-title {
    text-align: center;
    font-size: 24px; 
    font-weight: bold; 
}
  

ion-card-content p,
ion-item,
ion-input,
ion-button {
    font-size: 18px;
}

ion-button {
    font-weight: bold; 
    margin-bottom: 14px;

}
  
p {
    margin-bottom: 16px;
    margin-top: 16px; 
}