<app-header name="Лабораторна робота №1"></app-header>

<ion-content [fullscreen]="true" color="primary">
  <ion-card color="tertiary">
    <ion-card-header color="success">
      <ion-card-title>Завдання №3</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <p>
        Згенерувати матрицю розміром NxN. Виокремити за допомогою кольору всі елементи головної діагоналі, якщо вони парні.
      </p>

      <ion-item color="light">
        <ion-input 
          label="Розмір матриці (N)"
          labelPlacement="stacked"
          type="number"
          id="a"
          value="3"
          #Inputa
        ></ion-input>
      </ion-item>

      <ion-button expand="block" (click)="arraycalc(Inputa.value)">
        Сформувати масив
      </ion-button>

      <ion-grid>
        <ion-row *ngFor="let i of a">
          <ion-col *ngFor="let j of i" [ngStyle]="{backgroundColor: getColor(a.indexOf(i), i.indexOf(j), j)}" class="cell-border">
            {{ j }}
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-content>
  </ion-card>
</ion-content>
